.ap {
    padding: 20px;
    background-color: #ccc;
}

.search-bar-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-bar-container input {
    width: 80%;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #ccc;
}

.search-button {
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-left: 10px;
}

.search-button i {
    margin-right: 5px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.ce {
    background-color: transparent;
    color: black;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.8);
    padding: 15px;
    text-align: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 450px;
    height: 450px;
    font-size: large;
    margin: 0 auto;
}

.ce:hover {
    transform: scale(1.1);
    background-color: rgba(0, 0, 0, 0.3);
    color: aliceblue;
}

.ce img {
    width: 100%;
    height: 300px;
    border-radius: 30px;
    object-fit: cover;
}

.modal-overlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content {
    font-size: large;
    background-color: #ccc;
    padding: 20px;
    border-radius: 30px;
    position: relative;
    width: 500px;
    max-width: 100%;
    max-height: 100vh;
    overflow-y: auto;
    padding: 20px;
}

.modal-image {
    width: 100%;
    border-radius:25px;
}

.close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    background-color: white;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;

}
.close-button:hover{
    color:white;
    background-color: black;
}

.view-3d-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.see-more-button,
.see-less-button {
    background-color: #ccc;
    border: none;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.see-more-button:hover,
.see-less-button:hover {
    background-color: red;
    color: white;
}
.description {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    max-height: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}